<!DOCTYPE html>
<html>
<head>
	<title>Angular Test</title>
	<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
</head>
<script type="text/javascript">
	var app = angular.module("app",[]);

	app.run(["$rootScope","$http",function($rootScope,$http){
		$rootScope.name = "Master";
		$rootScope.status = "NA";
		$http({
			url: "https://www.w3schools.com/jquery/demo_test.asp",
			method: "GET"
		}).then(function(resp){
			$rootScope.status = "Success";
		},function(error){
			$rootScope.status = "Error";
			console.log(error);
		})

	}]);

	app.controller("appController1",["$scope",function($scope){
		$scope.a = 10;
		$scope.b = 20;

		$scope.calculateSum = function(){
			$scope.a =  $scope.a * $scope.a;
			$scope.b =  $scope.b * $scope.b;
		};
	}]);

</script>
<body ng-app="app"> 
	<div ng-controller="appController1">
		a = {{a}}<br>
		b = {{b}}<br>
		<br>
		a = <span ng-bind="a"></span><br>
		a = <span ng-bind="b"></span><br>
		<br>
		a = <input type="text" name="atext" ng-model="a"><br>
		b = <input type="text" name="btext" ng-model="b"><br>
		<br>
		
		oneway a = {{::a}}
		<button ng-click="calculateSum()"></button>
	</div>
	Status {{status}}
</body>
</html>